/* Réinitialisation des styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style global */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* En-tête */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Sections principales */
.section {
  padding: 40px 20px;
  margin: 20px 0;
}

#accueil {
  background: #2d3e50;
  color: #fff;
  text-align: center;
}

#competences {
  background: #fff;
}

#competences ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

#competences li {
  margin: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #333; /* Couleur par défaut des titres */
  font-weight: bold;
  width: 120px;
  justify-content: center;
}

#competences li i {
  font-size: 2.5em;
  margin-right: 10px;
}

/* Couleurs spécifiques pour les icônes de chaque technologie */
#competences li:nth-child(1) i {
  color: #e34f26; /* HTML */
}

#competences li:nth-child(2) i {
  color: blue; /* CSS */
}

#competences li:nth-child(3) i {
  color: #f7df1e; /* JavaScript */
}

#competences li:nth-child(4) i {
  color: #61dafb; /* React */
}

#competences li:nth-child(5) i {
  color: #339933; /* Node.js */
}

#competences li:nth-child(6) i {
  color: #181717; /* Git & GitHub */
}

#competences li:nth-child(7) i {
  color: #47a248; /* MongoDB */
}

/* Section Compétences */
.title-competences {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Section Projets */
.title-projets {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

#projets {
  background: #e9ecef;
}

.projets {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.projet {
  background: #fff;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  border: 2px solid transparent; /* Pas de contour par défaut */
  transition: border 0.3s ease; /* Transition douce pour le contour */
}
.projet:hover {
  border: 2px solid #333; /* Contour gris foncé lors du survol */
}

.projet h3 {
  margin-bottom: 10px;
  color: #333;
}

/* Stylisation de l'image dans la section projets */
.project-image {
  width: 100%; /* L'image occupe toute la largeur disponible */
  max-width: 300px; /* Limite la taille maximale de l'image */
  height: auto; /* Garde les proportions de l'image */
  margin-top: 10px; /* Un peu d'espace au-dessus de l'image */
  border-radius: 8px; /* Arrondir légèrement les coins de l'image */
}

#contact {
  background: #fff;
  text-align: center;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact button:hover {
  background: #555;
}

/* Pied de page */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
